.project-container {
    position: relative;
    max-height: 90px; 
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
.project-buttons {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    padding: 5px;
}
.project-container:hover {
    max-height: 150px; 
}
.project-container:hover .project-buttons {
    opacity: 1;
    visibility: visible;
}
.project-container .title {
    margin-bottom: 40px; 
}